<ion-content class="welcome" [fullscreen]="true">
  <div class="background-overlay">
    <div class="container">
      
      <div class="titre">
        <h1 class="main-title">SpOrTiFy OnLiNe</h1>
        <p class="subtitle">Dépassez vos limites</p>
      </div>

    
      <div class="motivation">
        <div class="motivation-card">
          <ion-icon name="flame-outline"></ion-icon>
          <h2>Transformez</h2>
          <p>votre corps</p>
        </div>
        <div class="motivation-card">
          <ion-icon name="trophy-outline"></ion-icon>
          <h2>Atteignez</h2>
          <p>vos objectifs</p>
        </div>
      </div>

      
      <div class="swipe">
        <div class="swipe-ligne"></div>
        <p>Glissez vers le haut pour commencer</p>
      </div>
    </div>
  </div>
</ion-content>